* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root 
{
     --text-color--:var(#19D1B9);
}
body 
{
    

  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}


@media (min-width: 320px) and (max-width: 768px) {
    /* Your styles for small mobile screens */
    

#mainheader 
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: row wrap;
    height: 10vh;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;

}

#mainheader .logo 
{
    width: fit-content;
    text-align: center;
    transition-duration: 2s;
}

#mainheader .logo:hover 
{
transform: skew(-20deg);
}
#mainheader nav 
{
    display: none;
}

#mainheader nav ul
{
    list-style: none;
    
}

#mainheader nav ul li 
{
    display: inline;  
    padding: 0 10px;
}
#mainheader nav ul li a
{
    text-decoration: none;  
    transition-duration: .5s;
    color: #606060e4;
    
}

#mainheader nav ul li a:hover
{
    color: #14AE9A;

}

/* Hero Section */

#hero-section 
{
    height: 77vh;
    margin-top:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.hero-containers 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
}

.hero-containers .image-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    gap: 10px;
}

.hero-containers .image-container h1
{
    text-align: center;
    font-size: 20px;
}

.hero-containers .text-content 
{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-flow: column;
    gap: 10px;
    width: 100%;
}

.hero-containers .text-content p 
{
    padding: 10px;
    
}


/* Lets get started with */


#Offers 
{
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 30px 0px;
}

.offers-container 
{
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-flow: column;
    gap: 20px;
}

.offers-container .offers-card 
{
    background-color: rgba(255, 228, 196, 0.682);
    width: 80%;
    padding: 40px 20px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-flow: column;
    gap: 30px;
    border-radius: 10px;
}
.offers-container .offers-card:first-child 
{
    background-color: #00CCB1;
} 
.offers-container .offers-card:nth-child(2) 
{
    background-color: #3D83DF;

} 
.offers-container .offers-card:nth-child(3) 
{
  background-color: #1B2734;
}

.offers-container .offers-card h1 
{
    font-size: 30px;
    color: white;
}

.offers-container .offers-card p
{
    font-size: 20px;
    color: white;
}

.offers-container .offers-card .cta 
{
    width: 100%;
    text-align: center;
}
.offers-container .offers-card .cta a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
}



    



}

@media (min-width: 768px) and (max-width: 1024px) 
{


    #mainheader 
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: row wrap;
    height: 10vh;

}

#mainheader .logo 
{
    width: fit-content;
    text-align: center;
    transition-duration: 2s;
}

#mainheader .logo:hover 
{
transform: skew(-20deg);
}
#mainheader nav 
{
    display: inline;
}

#mainheader nav ul
{
    list-style: none;
    
}

#mainheader nav ul li 
{
    display: inline;  
    padding: 0 10px;
}
#mainheader nav ul li a
{
    text-decoration: none;  
    transition-duration: .5s;
    color: #606060e4;
    
}

#mainheader nav ul li a:hover
{
    color: #14AE9A;

}


/* Hero Section */

#hero-section 
{
    height: 77vh;
    margin-top:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.hero-containers 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
}

.hero-containers .image-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    gap: 10px;
}

.hero-containers .image-container h1
{
    text-align: center;
    font-size: 20px;
}

.hero-containers .text-content 
{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-flow: column;
    gap: 10px;
    width: 100%;
}

.hero-containers .text-content p 
{
    padding: 10px;
    text-align: center;
}


/* Lets get started with */


#Offers 
{
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 30px 0px;
}

.offers-container 
{
    width: 96%;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-flow: row;
    gap: 20px;
}

.offers-container .offers-card 
{
    background-color: rgba(255, 228, 196, 0.682);
    width: 80%;
    padding: 40px 30px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-flow: column;
    gap: 30px;
    border-radius: 10px;
}
.offers-container .offers-card:first-child 
{
    background-color: #00CCB1;
} 
.offers-container .offers-card:nth-child(2) 
{
    background-color: #3D83DF;

} 
.offers-container .offers-card:nth-child(3) 
{
  background-color: #1B2734;
}

.offers-container .offers-card h1 
{
    font-size: 30px;
    color: white;
}

.offers-container .offers-card p
{
    font-size: 20px;
    color: white;
}

.offers-container .offers-card .cta 
{
    width: 100%;
    text-align: center;
}
.offers-container .offers-card .cta a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
}


    
    
    
}

@media (min-width: 1024px) and (max-width: 1440px) 
{    /* Your styles for small mobile screens */
    

#mainheader 
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: row wrap;
    height: 10vh;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;

}

#mainheader .logo 
{
    width: fit-content;
    text-align: center;
    transition-duration: 2s;
}

#mainheader .logo:hover 
{
transform: skew(-20deg);
}
#mainheader nav 
{
    display: inline;
}

#mainheader nav ul
{
    list-style: none;
    
}

#mainheader nav ul li 
{
    display: inline;  
    padding: 0 10px;
}
#mainheader nav ul li a
{
    text-decoration: none;  
    transition-duration: .5s;
    color: #606060e4;
    
}

#mainheader nav ul li a:hover
{
    color: #14AE9A;

}

/* Hero Section */

#hero-section 
{
    height: 77vh;
    margin-top:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.hero-containers 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
}

.hero-containers .image-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    gap: 10px;
}

.hero-containers .image-container h1
{
    text-align: center;
    font-size: 30px;
}

.hero-containers .text-content 
{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-flow: row;
    gap: 10px;
    width: 70%;
}

.hero-containers .text-content p 
{
    padding: 10px;
    text-align: left;
    
}


/* Lets get started with */


#Offers 
{
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 8rem 0px;
}

.offers-container 
{
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-flow: column;
    gap: 20px;
}

.offers-container .offers-card 
{
    background-color: rgba(255, 228, 196, 0.682);
    width: 80%;
    padding: 40px 50px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-flow: column;
    gap: 30px;
    border-radius: 10px;
}
.offers-container .offers-card:first-child 
{
    background-color: #00CCB1;
} 
.offers-container .offers-card:nth-child(2) 
{
    background-color: #3D83DF;

} 
.offers-container .offers-card:nth-child(3) 
{
  background-color: #1B2734;
}

.offers-container .offers-card h1 
{
    font-size: 30px;
    color: white;
}

.offers-container .offers-card p
{
    font-size: 20px;
    color: white;
}

.offers-container .offers-card .cta 
{
    width: 100%;
    text-align: center;
}
.offers-container .offers-card .cta a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
}




    


}

@media (min-width: 1440px) and (max-width: 2560px) 
{


    
    #mainheader 
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: row wrap;
    height: 10vh;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: white;

}

#mainheader .logo 
{
    width: fit-content;
    text-align: center;
    transition-duration: 2s;
}

#mainheader .logo:hover 
{
transform: skew(-20deg);
}
#mainheader nav 
{
    display: inline;
}

#mainheader nav ul
{
    list-style: none;
    
}

#mainheader nav ul li 
{
    display: inline;  
    padding: 0 10px;
}
#mainheader nav ul li a
{
    text-decoration: none;  
    transition-duration: .5s;
    color: #606060e4;
    
}

#mainheader nav ul li a:hover
{
    color: #14AE9A;

}



/* Hero Section */

#hero-section 
{
    height: 77vh;
    background-color: rgb(255, 255, 255);
    margin-top:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.hero-containers 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
}

.hero-containers .image-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    gap: 10px;
}

.hero-containers .image-container img
{
    width: 5%;
}

.hero-containers .image-container h1
{
    text-align: center;
    font-size: 30px;
}

.hero-containers .text-content 
{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-flow: row;
    gap: 10px;
    width: 70%;
}

.hero-containers .text-content p 
{
    padding: 5px;
    text-align: left;
    font-size: 20px;
    
}


/* Lets get started with */


#Offers 
{
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 8rem 0px;
}

.offers-container 
{
    width: 65%;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-flow: row nowrap;
    gap: 20px;
}

.offers-container .offers-card 
{
    background-color: rgba(255, 228, 196, 0.682);
    width: 50%;
    padding: 40px 50px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-flow: column;
    gap: 30px;
    border-radius: 10px;
}
.offers-container .offers-card:first-child 
{
    background-color: #00CCB1;
} 
.offers-container .offers-card:nth-child(2) 
{
    background-color: #3D83DF;

} 
.offers-container .offers-card:nth-child(3) 
{
  background-color: #1B2734;
}

.offers-container .offers-card h1 
{
    font-size: 30px;
    color: white;
}

.offers-container .offers-card p
{
    font-size: 20px;
    color: white;
}

.offers-container .offers-card .cta 
{
    width: 100%;
    text-align: center;
}
.offers-container .offers-card .cta a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
}


}

